.emp-reimbursement-list .dropdown-popper.show {
  visibility: visible;
  opacity: 1;
}
.emp-reimbursement-list .row-actions {
  text-align: left;
}
.emp-reimbursement-list .row-actions ul {
  margin: 0;
}
.erp-reimb-req .wp-heading-inline {
  margin: 20px 0 20px 0;
}
.erp-reimb-req .page-title-action {
  display: inline-block !important;
}

.combo-btns .wperp-selected-option {
  padding: 0 !important;
}
.combo-btns .btn-fake {
  border: 0;
  box-shadow: none;
  background: none;
  cursor: pointer;
}
.combo-btns .btn-caret {
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.combo-btns .left-part,
.combo-btns .right-part {
  float: left;
}
.combo-btns .left-part {
  width: 80%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  line-height: 2;
  text-align: center;
}
.combo-btns .left-part .btn-fake {
  color: #fff;
  padding: 2px 10px;
}
.combo-btns .left-part .btn-fake:focus {
  outline: 0;
}
.combo-btns .right-part {
  width: 20%;
  background: #03A9F4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.combo-btns .wperp-options .btn-fake {
  padding: 5px 20px;
  display: block;
  clear: both;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
  width: 100%;
}
.combo-btns .wperp-options .btn-fake:hover {
  background: #ececec;
  color: #1a9ed4;
}

.reimburse-create .dropdown {
  width: 100%;
}
.reimburse-create .dropdown .dropdown-menu {
  right: unset;
  padding: 0 !important;
}
.reimburse-create .header-title {
  font-size: 1.5em;
  font-weight: 600;
  color: black;
}
.reimburse-create .col--particulars {
  width: 50%;
}
.reimburse-create .attachment-container .attachment-placeholder {
  max-width: 100%;
}
.reimburse-create .dropdown-popper.show {
  transform: translate3d(50px, 35px, 0px) !important;
  opacity: 1;
  visibility: visible;
}
.attachment-item {
  box-shadow: 0 0 0 1px rgba(76, 175, 80, 0.3);
  padding: 3px;
  position: relative;
  height: 58px;
  margin: 10px 0;
}
.attachment-item .remove-file {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  background: #f44336;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
.attachment-item img {
  float: left;
}
.attachment-meta h3 {
  margin-left: 50px;
  text-align: left;
  line-height: 2;
}
@media only screen and (min-width: 75em) {
.reimburse-create.wperp-container {
    width: 63rem;
}
}

.employee-reimb-single {
  max-width: 960px;
  margin: 0 auto;
}
.employee-reimb-single .wperp-modal-footer {
  border-top: 1px solid #e2e2e2;
}
.employee-reimb-single .wperp-modal-header {
  border-bottom: 1px solid #e2e2e2;
}
.employee-reimb-single .wperp-form-field,
.employee-reimb-single input:not(.wperp-btn) {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.reimb-info {
  float: right;
}
@media print {
.erp-nav-container {
    display: none;
}
}

.erp-reimbursement-date .wperp-has-dropdown[data-v-2f2e22ca] {
  width: 100%;
}
.text-theme[data-v-2f2e22ca] {
  color: #1A9ED4;
  font-weight: 400;
  margin-left: 10px;
}

.erp-reimbursements .add-new-reimbursement {
  margin-top: 15px;
  align-items: center;
  display: flex;
}
.erp-reimbursements .add-new-reimbursement span {
  font-size: 18px;
  font-weight: bold;
}
.erp-reimbursements .add-new-reimbursement a {
  background: #1a9ed4;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  height: 29px;
  line-height: 29px;
  margin-left: 13px;
  text-align: center;
  text-decoration: none;
  width: 135px;
}
.erp-reimbursements .reimbursement-list {
  border-radius: 3px;
}
.erp-reimbursements .reimbursement-list tbody {
  background: #FAFAFA;
}
.erp-reimbursements .reimbursement-list th ul,
.erp-reimbursements .reimbursement-list th li {
  margin: 0;
}
.erp-reimbursements .reimbursement-list th li {
  display: flex;
  align-items: center;
}
.erp-reimbursements .reimbursement-list th li img {
  width: 22px;
  padding-right: 5px;
}
.erp-reimbursements .reimbursement-list .column.title.selected {
  color: #1A9ED4;
}
.erp-reimbursements .reimbursement-list .column.title a {
  color: #222;
  font-weight: normal;
}
.erp-reimbursements .reimbursement-list .column.title a:hover {
  color: #1A9ED4;
}
.erp-reimbursements .reimbursement-list .check-column input {
  border-color: #E7E7E7;
  box-shadow: none;
  border-radius: 3px;
}
.erp-reimbursements .reimbursement-list .check-column input:checked {
  background: #1ABC9C;
  border-color: #1ABC9C;
  border-radius: 3px;
}
.erp-reimbursements .reimbursement-list .check-column input:checked:before {
  color: #fff;
}
.erp-reimbursements .reimbursement-list .row-actions {
  text-align: left;
  padding-left: 20px;
}
.erp-reimbursements .reimbursement-list tbody tr td.voucher_type {
  padding-left: 20px !important;
  text-align: left !important;
}

.people_trn-single {
  max-width: 960px;
  margin: 0 auto;
}
.people_trn-single .wperp-modal-footer {
  border-top: 1px solid #e2e2e2;
}
.people_trn-single .wperp-modal-header {
  border-bottom: 1px solid #e2e2e2;
}
.people_trn-single .wperp-form-field,
.people_trn-single input:not(.wperp-btn) {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
@media print {
.erp-nav-container {
    display: none;
}
}

ul[data-v-2ae4496a] {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
li[data-v-2ae4496a] {
  font-size: 20px;
  background: #fff;
  margin-bottom: 1px;
  padding: 15px;
  width: 48%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin: 10px;
  border-radius: 3px;
}
li h3[data-v-2ae4496a] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
  font-weight: normal;
  color: #263238;
}
li p[data-v-2ae4496a] {
  font-size: 15px;
  color: #525252;
}

.people-trn--report h2 {
  padding-top: 15px;
}
.people-trn--report .tablenav,
.people-trn--report .column-cb,
.people-trn--report .check-column {
  display: none;
}
.people-trn--report .query-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 900px;
}
.people-trn--report .with-multiselect {
  width: 200px;
  float: left;
  margin-right: 50px;
}
.people-trn--report .wperp-btn {
  margin-top: 2px;
}
.people-trn--report .report-header {
  width: 420px;
  padding: 10px 0 0 0;
}
.people-trn--report .report-header li {
  display: flex;
  justify-content: space-between;
}
.people-trn--report .people-trn--table tbody tr td:last-child {
  text-align: left !important;
}
@media print {
.erp-nav-container {
    display: none;
}
.no-print,
  .no-print * {
    display: none !important;
}
.people-trn--report .report-header {
    margin: 0 0 20px 0;
}
.people-trn--report .wperp-table.people-trn--table th.trn_date,
  .people-trn--report .wperp-table.people-trn--table th.created_at,
  .people-trn--report .wperp-table.people-trn--table .balance {
    min-width: 118px;
}
.people-trn--report .wperp-table.people-trn--table th.trn_no {
    min-width: 95px;
}
.people-trn--report .wperp-table.people-trn--table td.column.particulars {
    text-align: left !important;
}
.people-trn--report .wperp-table.people-trn--table tr th:first-child,
  .people-trn--report .wperp-table.people-trn--table tr td:last-child {
    padding-left: 5px;
}
.people-trn--report .wperp-table.people-trn--table tr th:last-child,
  .people-trn--report .wperp-table.people-trn--table tr td:last-child {
    padding-right: 5px;
}
.people-trn--report .wperp-table.people-trn--table td,
  .people-trn--report .wperp-table.people-trn--table th {
    padding: 3px 0;
}
.people-trn--report .wperp-table.people-trn--table thead tr th {
    font-weight: bold;
}
.people-trn--report .wperp-table.people-trn--table thead tr th:nth-child(5),
  .people-trn--report .wperp-table.people-trn--table thead tr th:nth-child(6),
  .people-trn--report .wperp-table.people-trn--table thead tr th:nth-child(7) {
    min-width: 100px;
    text-align: right;
}
.people-trn--report .wperp-table.people-trn--table tbody tr td:nth-child(5),
  .people-trn--report .wperp-table.people-trn--table tbody tr td:nth-child(6),
  .people-trn--report .wperp-table.people-trn--table tbody tr td:nth-child(7) {
    min-width: 100px;
    text-align: right !important;
}
.people-trn--report .wperp-table.people-trn--table tfoot td:nth-child(3),
  .people-trn--report .wperp-table.people-trn--table tfoot td:nth-child(4) {
    text-align: right !important;
}
}

