.not-loaded {
  display: none;
}
.erp-payroll-setup-steps li {
  width: 25%;
}
.basic-payroll-info .basic-info-col-50:nth-child(2) {
  float: left;
  width: 50%;
  margin-left: 20px;
}
.basic-payroll-info .basic-info-col-50:nth-child(2) ul.erp-list li {
  line-height: 1.5em;
  float: none;
  display: block;
  width: auto;
}
.basic-payroll-info .basic-info-col-50:nth-child(1) {
  width: 48%;
  float: left;
}
.basic-payroll-info .basic-info-col-50:nth-child(1) ul.erp-list li input[type="text"] {
  width: auto;
}
.basic-payroll-info .basic-info-col-50:nth-child(1) ul.erp-list li span.value select {
  width: auto;
}
.basic-payroll-info .basic-info-col-50:nth-child(1) ul.paylist {
  float: left;
  width: 100%;
}
.basic-payroll-info .basic-info-col-50:nth-child(1) ul.paylist li:first-child label {
  background-color: #f5f5f5;
}
.basic-payroll-info .basic-info-col-50:nth-child(1) ul.paylist li:first-child label:nth-child(3) {
  width: 3%;
}
.basic-payroll-info .basic-info-col-50:nth-child(1) ul.paylist li {
  float: left;
  width: 100%;
}
.basic-payroll-info .basic-info-col-50:nth-child(1) ul.paylist li label {
  float: left;
  width: 43%;
  padding: 5px;
  border-bottom: 1px solid #eee;
}
.basic-payroll-info .basic-info-col-50:nth-child(1) ul.paylist li label:nth-child(3) {
  width: 3%;
}
.basic-payroll-info .inside {
  overflow-y: hidden;
}
.basic-payroll-info .inside .button {
  margin-right: 37px;
}
.basic-payroll-info .edit_payroll {
  display: none;
}
.basic-payroll-info .edit_payroll .view_basic_info_btn {
  margin-right: 10px;
}
.basic-payroll-info ul.erp-list li input[type="text"],
.basic-payroll-info ul.erp-list li select.account_head {
  width: 60%;
}
.basic-payroll-info ul.erp-list li span.value select {
  width: 60%;
}
.basic-payroll-info .fixed_allowance_deduction ul.erp-list li input[type="text"] {
  width: auto;
}
.basic-payroll-info .fixed_allowance_deduction ul.erp-list li span.value select {
  width: auto;
}
.basic-payroll-info .fixed_allowance_deduction ul.paylist li:first-child label {
  background-color: #f5f5f5;
}
.basic-payroll-info .fixed_allowance_deduction ul.paylist li:first-child label:nth-child(3) {
  width: 3%;
}
.basic-payroll-info .fixed_allowance_deduction ul.paylist li {
  float: left;
  width: 75%;
}
.basic-payroll-info .fixed_allowance_deduction ul.paylist li label {
  float: left;
  width: 25%;
  padding: 5px;
  border-bottom: 1px solid;
}
.basic-payroll-info .fixed_allowance_deduction ul.paylist li label:nth-child(3) {
  width: 3%;
}
.popup-elist ul li.elist {
  background-color: #dfdfdf;
  padding: 3px;
  margin-bottom: 3px;
}
ul.list-table-like li.table-header {
  font-weight: 700;
}
.payrun-overview-container .badge-wrap .badge-inner h3 {
  font-size: 27px;
}
.payrun-overview-container .badge-container {
  margin-bottom: 0px;
}
.payrun-overview-container .badge-container .badge-wrap {
  width: 24%;
}
.payrun-overview-container .inside {
  overflow-y: hidden;
  padding-bottom: 0;
}
.payrun-overview-container .inside .checklist {
  font-size: 17px;
  margin: 0;
}
.payrun-overview-container .inside .checklist li a {
  text-decoration: none;
}
.payrun-overview-container .inside .checklist li a:hover {
  text-decoration: underline;
}
.payrun-overview-container .inside .fa-check-square-o {
  color: #006505;
}
.payrun-overview-container .payrun-records .postbox {
  margin-top: 20px;
}
.payrun-overview-container .payrun-records .tablenav .actions {
  padding: 0;
}
.payrun-overview-container .payrun-records .wp-list-table th,
.payrun-overview-container .payrun-records .wp-list-table td {
  font-size: 11px;
}
.payrun-overview-container ul.list-table-like li {
  display: table;
  width: 100%;
}
.payrun-overview-container ul.erp-list li {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  margin-bottom: 0;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-top: 1px;
}
.payrun-overview-container ul.erp-list li .number-cell {
  text-align: right;
}
.payrun-overview-container ul.erp-list li .action-tiny-cell {
  width: 3%;
  text-align: center;
}
.payrun-overview-container ul.erp-list li:first-child {
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
}
.payrun-overview-container ul.erp-list li:hover {
  background-color: #f5f5f5;
}
.payrun-overview-container ul.erp-list li > label {
  width: 15%;
}
.payrun-overview-container ul.list-table-like li label:first-child {
  display: inline-table !important;
  padding: 6px 0 6px 10px;
  width: 19%;
}
.payrun-overview-container ul.list-table-like li label {
  display: inline-table !important;
  padding: 6px 0 6px 10px;
  width: 15%;
}
.payrun-overview-container ul.list-table-like li label a.detail-view {
  text-decoration: none;
}
.payrun-overview-container .ajax-pagination {
  margin: 0;
}
.payrun-overview-container .ajax-pagination li:first-child {
  border-left: 1px solid #b7c0c7;
}
.payrun-overview-container .ajax-pagination li {
  float: left;
  border-top: 1px solid #b7c0c7;
  border-bottom: 1px solid #b7c0c7;
  border-right: 1px solid #b7c0c7;
}
.payrun-overview-container .ajax-pagination li label {
  display: block;
  background-color: #f5f5f5;
  text-align: center;
  padding: 8px 16px;
}
.payrun-overview-container .ajax-pagination li label:hover {
  background-color: #fff;
}
.payitem-container .badge-container .badge-wrap {
  width: 24%;
}
.payitem-container ul.payitem-list li label {
  min-width: 19%;
  width: 19%;
}
.payitem-container ul.payitem-list li label:first-child {
  min-width: 25%;
  width: 25%;
}
.payitem-container ul.payitem-list li label.action-col {
  min-width: 13%;
  width: 13%;
  float: right;
}
.payitem-container .payitem-category-wrapper .not-loaded {
  display: none;
}
.payitem-container ul.list-table-like li {
  display: table;
  width: 100%;
}
.payitem-container ul.erp-list li {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  padding-right: 5px;
}
.payitem-container ul.erp-list li:nth-child(2n+1) {
  background-color: #f5f5f5;
}
.payitem-container ul.list-table-like li > label {
  display: inline-table !important;
  padding: 6px 0 6px 10px;
  width: 20%;
}
.payitem-container ul.erp-list li label .pi-ledger {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 8px;
  display: block;
}
.payitem-container ul.erp-list li label .pi-desc {
  font-size: 10px;
  color: lightslategray;
  margin-top: 2px;
  margin-bottom: 0;
}
.payitem-container ul.erp-list li label.applied-employee:hover {
  background-color: #ccffdb;
}
.payitem-container ul.list-table-like li .button-delete {
  float: right;
}
.payitem-container .cstatus {
  color: #048fc2;
}
.payrun-container .inside {
  overflow-y: hidden;
}
.payrun-container .set-date-insider {
  margin-top: 0;
}
.payrun-container .inside h2 {
  padding-right: 3px;
}
.payrun-container .inside h2.top-gap-hndle {
  margin-top: 25px;
  float: left;
}
.payrun-container .date-setter .col-6 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.payrun-container .date-setter .col-3 {
  padding-left: 0;
}
.payrun-container ul.payrun-step-progress {
  overflow: hidden;
  max-width: 100%;
  margin-top: 7px;
  margin-bottom: 0;
  margin-left: 10px;
  height: 50px;
  background-color: #fafafa;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.payrun-container ul.payrun-step-progress li {
  list-style-type: none;
  width: 250px;
  float: left;
  position: relative;
  text-align: center;
  color: #444;
  background-color: #fafafa;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
}
.payrun-container ul.payrun-step-progress li.active {
  background-color: #0073AA;
  color: #fff;
}
.payrun-container ul.payrun-step-progress li.active .step-number {
  background-color: white;
  border-radius: 11px;
  color: #0073AA;
  padding: 3px 8px;
}
.payrun-container ul.payrun-step-progress li.active .step-content {
  background-color: #0073AA;
  color: #fff;
  padding-left: 5px;
}
.payrun-container ul.payrun-step-progress li .step-number {
  background-color: #E5E5E5;
  border-radius: 11px;
  color: #adadad;
  padding: 3px 8px;
}
.payrun-container ul.payrun-step-progress li .step-content {
  background-color: #fafafa;
  color: #a6a6a6;
  padding-left: 5px;
}
.payrun-container ul.payrun-step-progress li::before {
  color: #333;
  background: #E5E5E5;
}
.payrun-container ul.payrun-step-progress li.active::after {
  background-color: #0073aa;
  content: "";
  height: 34px;
  position: absolute;
  right: -17px;
  top: 7px;
  transform: rotate(135deg);
  width: 34px;
  z-index: 1;
  /*put it behind the numbers*/
}
.payrun-container ul.payrun-step-progress li.not-active::after {
  background-color: #fafafa;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  content: "";
  height: 34px;
  position: absolute;
  right: -17px;
  top: 7px;
  transform: rotate(135deg);
  width: 34px;
  z-index: 1;
  /*put it behind the numbers*/
}
.payrun-container ul.payrun-step-progress li.not-active:last-child::after {
  background-color: transparent;
  border: 0;
}
.payrun-container ul.payrun-step-progress li.not-active:last-child {
  width: 267px;
}
.payrun-container ul.payrun-step-progress li.active:last-child {
  width: 235px;
}
.payrun-container .set-date-insider label {
  display: block;
}
.payrun-container .emp-list {
  width: 25%;
  padding-left: 0;
}
.payrun-container .emp-list .filter-employee {
  float: right;
  color: darkgreen;
  margin-top: 5px;
}
.payrun-container .emp-list .emp-ul-list li {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 0;
}
.payrun-container .emp-list .emp-ul-list li.bgcolselected {
  background-color: #ccffdb;
}
.payrun-container .emp-list .emp-ul-list li.bgcolfree {
  background-color: #fff;
}
.payrun-container .emp-list .emp-ul-list li label:hover {
  text-decoration: underline;
}
.payrun-container .emp-rules-list {
  width: 50%;
  padding-left: 0;
}
.payrun-container .emp-rules-list .einfo {
  padding-left: 0;
  padding-bottom: 2px;
  padding-top: 0;
}
.payrun-container .emp-rules-list .eemail,
.payrun-container .emp-rules-list .edepartment,
.payrun-container .emp-rules-list .edesignation,
.payrun-container .emp-rules-list .epayrate {
  color: #aeaeae;
}
.payrun-container .emp-rules-list strong {
  color: #000;
  font-size: 11px;
}
.payrun-container .emp-rules-list ul li:first-child label:first-child {
  text-align: left;
}
.payrun-container .emp-rules-list ul li:first-child label {
  text-align: right;
}
.payrun-container .emp-rules-list ul li label.lalign {
  text-align: left;
}
.payrun-container .emp-rules-list ul li label.ralign {
  text-align: right;
}
.payrun-container .payment-calculation-list {
  width: 25%;
  padding-left: 0;
}
.payrun-container .payment-calculation-list ul li label {
  display: block;
}
.payrun-container .payment-calculation-list ul li label.payitem-row {
  display: inline-block;
}
.payrun-container .payment-calculation-list ul li .incentive-amount {
  float: right;
  text-align: right;
}
.payrun-container .payment-calculation-list .net-payment {
  display: block;
  text-align: right;
}
.payrun-container .payment-calculation-list .net-payment span {
  float: left;
  font-weight: bold;
}
.payrun-container .review-insider .review-first-row {
  padding-left: 0;
  padding-top: 0;
}
.payrun-container .review-insider .review-first-row .col-1 {
  width: 20%;
  padding-left: 0;
}
.payrun-container .review-insider .review-first-row .caption {
  display: block;
  font-weight: bold;
}
.payrun-container .review-insider .review-second-row ul.list-table-like li > label {
  width: 15%;
}
.payrun-container .review-insider .review-second-row ul.list-table-like li .number-cell {
  text-align: right;
}
.payrun-container .switcher {
  padding-bottom: 0;
}
.payrun-container .switcher .postbox {
  margin-bottom: 7px;
}
.payrun-container .enter-employee-payments-insider ul.emp-ul-list {
  position: relative;
  height: 250px;
  overflow-y: scroll;
}
.payrun-container .enter-employee-payments-insider ul.separated li label {
  width: 32%;
}
.payrun-container ul.list-table-like li {
  display: table;
  width: 100%;
}
.payrun-container ul.erp-list li {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  padding-right: 5px;
}
.payrun-container ul.erp-list li .pi-dept {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 8px;
  display: block;
}
.payrun-container ul.erp-list li:nth-child(2n+1) {
  background-color: #f5f5f5;
}
.payrun-container ul.list-table-like li > label {
  display: inline-table !important;
  padding: 6px 0 6px 10px;
  width: 20%;
}
.payrun-container .emp-rules-list h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.payrun-container .review-second-row ul.erp-list li label.del-link {
  width: 6%;
  text-align: center;
  color: #048fc2;
}
.payrun-container .insider {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  padding: 20px;
  width: 100%;
}
.payrun-container .insider button {
  width: 85px;
  height: 35px;
  margin-left: 10px;
}
.erp-payroll-pay-calendar .metabox-holder {
  padding-top: 0 !important;
}
.erp-payroll-pay-calendar .row-col .row {
  margin-bottom: 5px;
}
.erp-payroll-pay-calendar .row-col .row label {
  float: left;
  width: 12%;
}
.erp-payroll-pay-calendar .postbox {
  margin-bottom: 10px;
  width: 256px;
  float: left;
  margin-right: 7px;
}
.erp-payroll-pay-calendar .postbox .inside {
  overflow-y: hidden;
}
.erp-payroll-pay-calendar .postbox .inside .row-col-2 {
  float: left;
  width: 50%;
}
.erp-payroll-pay-calendar .postbox .inside .pay-cal-list li span.remove-cal {
  cursor: pointer;
}
.erp-payroll-pay-calendar .postbox .inside .pay-cal-list li label {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .half-col label {
  width: 100%;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-content {
  overflow-y: hidden;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .half-col {
  float: left;
  width: 50%;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .half-col .checkbox-list {
  float: left;
  width: 100%;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .half-col .checkbox-list li {
  float: left;
  width: 100%;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .half-col:nth-child(2) {
  width: 49%;
  margin-left: 5px;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-footer {
  float: left;
  width: 100%;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .close:hover,
.erp-payroll-pay-calendar .postbox .inside div.modal-section .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-open {
  overflow: hidden;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: rgba(0, 0, 0, 0.7);
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-header .close {
  margin-top: -2px;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-body {
  position: relative;
  padding: 15px;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-lg {
    width: 900px;
  }
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .clearfix:before,
.erp-payroll-pay-calendar .postbox .inside div.modal-section .clearfix:after,
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-header:before,
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-header:after,
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-footer:before,
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-footer:after {
  content: " ";
  display: table;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .clearfix:after,
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-header:after,
.erp-payroll-pay-calendar .postbox .inside div.modal-section .modal-footer:after {
  clear: both;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .pull-right {
  float: right !important;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .pull-left {
  float: left !important;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .hide {
  display: none !important;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .show {
  display: block !important;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .invisible {
  visibility: hidden;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .hidden {
  display: none !important;
}
.erp-payroll-pay-calendar .postbox .inside div.modal-section .affix {
  position: fixed;
}
.erp-payroll-pay-calendar .postbox .inside div.row {
  margin-bottom: 15px;
}
.erp-payroll-pay-calendar .postbox .inside div.row label {
  float: left;
  width: 25%;
}
.erp-payroll-pay-calendar .postbox .inside div.row .select2,
.erp-payroll-pay-calendar .postbox .inside div.row .pdept,
.erp-payroll-pay-calendar .postbox .inside div.row .pdesig {
  width: 40% !important;
}
.erp-payroll-pay-calendar .postbox .inside div.row .emp-list {
  float: left;
  margin-top: 10px;
}
.erp-payroll-pay-calendar .postbox .inside div.row .emp-list li:first-child label:first-child {
  width: 3%;
}
.erp-payroll-pay-calendar .postbox .inside div.row .emp-list li:first-child label {
  width: 16%;
}
.erp-payroll-pay-calendar .postbox .inside div.row .emp-list li label:first-child {
  width: 3%;
}
.erp-payroll-pay-calendar .postbox .inside div.row .emp-list li label {
  width: 16%;
}
.erp-payroll-pay-calendar .postbox .action-col {
  padding: 10px;
  border-top: 1px solid #eee;
}
.erp-payroll-pay-calendar .postbox .action-col a.button {
  margin-left: 5px;
}
.erp-payroll-pay-calendar .nv-holder {
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.erp-payroll-pay-calendar .nv-holder .row a.nbutton:first-child {
  margin-left: 5px;
}
.erp-payroll-pay-calendar .nv-holder a.nbutton:first-child {
  margin-left: 5px;
}
.erp-payroll-pay-calendar .nv-holder .rrow button:first-child {
  margin-left: 5px;
}
.erp-payroll-pay-calendar .pc-postbox {
  width: 100%;
}
.erp-payroll-pay-calendar .wp-list-table-container .hndle {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 8px 12px;
}
.erp-payroll-pay-calendar .wp-list-table-container .bulkactions {
  padding: 0;
}
.wp-list-table-container {
  margin-top: 10px;
}
.wp-list-table-container th,
.wp-list-table-container td {
  font-size: 11px;
}
.wp-list-table-container .wp-list-table .column-action a.button {
  border: 1px solid #dfdfdf;
  box-shadow: none;
}
.wp-list-table-container .wp-list-table .column-action a.button span.dashicons {
  line-height: 25px;
}
.wp-list-table-container .wp-list-table .column-action label.button {
  background-color: #ed5752;
  border: medium none;
  color: #fff;
  margin-left: 5px;
}
.wp-list-table-container .wp-list-table .column-action label.button span.dashicons {
  line-height: 25px;
}
.payrun-approved-container .inside {
  overflow-y: hidden;
}
.payrun-approved-container .review-insider .review-first-row {
  padding-left: 0;
  padding-top: 0;
}
.payrun-approved-container .review-insider .review-first-row .f-col {
  width: 21% !important;
}
.payrun-approved-container .review-insider .review-first-row .col-1 {
  width: 19%;
  padding-left: 0;
}
.payrun-approved-container .review-insider .review-first-row .col-1 label input[type="text"] {
  float: left;
  width: 88px;
  font-size: 13px;
}
.payrun-approved-container .review-insider .review-first-row .caption {
  display: block;
  font-weight: bold;
}
.payrun-approved-container .review-insider .review-first-row .button-group {
  float: right;
  margin-top: 10px;
}
.payrun-approved-container .review-insider .review-second-row ul.list-table-like li > label {
  width: 14%;
}
.payrun-approved-container .review-insider .review-second-row ul.list-table-like li .number-cell {
  text-align: right;
}
.payrun-approved-container .review-insider .review-second-row ul.list-table-like li .action-tiny-cell {
  width: 5%;
  text-align: center;
}
.payrun-approved-container .review-insider .review-second-row ul.list-table-like li .action-tiny-cell .dashicons {
  line-height: 25px;
}
.payrun-approved-container .review-insider .review-second-row ul.list-table-like li .del-link {
  background-color: #ed5752;
  border: medium none;
  color: #fff;
  margin-top: 6px;
  padding: 0;
  width: 4.5%;
}
.payrun-approved-container .review-insider .review-second-row ul.list-table-like li .del-link .fa-trash {
  font-size: 20px;
}
.payrun-approved-container h4.hndle {
  margin-bottom: 1px;
}
.payrun-approved-container ul.list-table-like li {
  display: table;
  width: 100%;
}
.payrun-approved-container ul.erp-list li {
  border-bottom: 1px solid #b7c0c7;
  border-left: 1px solid #b7c0c7;
  border-right: 1px solid #b7c0c7;
  margin-bottom: 0;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-top: 1px;
}
.payrun-approved-container ul.erp-list li label a {
  text-decoration: none;
}
.payrun-approved-container ul.erp-list li:first-child {
  background-color: #f5f5f5;
  border-top: 1px solid #b7c0c7;
}
.payrun-approved-container ul.erp-list li:hover {
  background-color: #f5f5f5;
}
.payrun-approved-container ul.list-table-like li > label {
  display: inline-table !important;
  padding: 6px 0 6px 10px;
  width: 20%;
}
.payrun-single-employee-approved-container .paid-color {
  color: darkgreen;
}
.payrun-single-employee-approved-container .inside {
  overflow-y: hidden;
}
.payrun-single-employee-approved-container .review-insider .review-first-row {
  padding-left: 0;
  padding-top: 0;
}
.payrun-single-employee-approved-container .review-insider .review-first-row .col-1 {
  width: 20%;
  padding-left: 0;
}
.payrun-single-employee-approved-container .review-insider .review-first-row .caption {
  display: block;
  font-weight: bold;
}
.payrun-single-employee-approved-container .review-insider .review-first-row .secondary-action-button-container button {
  margin-top: 10px;
}
.payrun-single-employee-approved-container .review-insider .review-second-row ul.list-table-like li > label {
  width: 32%;
}
.payrun-single-employee-approved-container .review-insider .review-second-row ul.list-table-like li .number-cell {
  text-align: right;
}
.payrun-single-employee-approved-container .review-insider .review-second-row ul.list-table-like li .action-tiny-cell {
  width: 7%;
  text-align: center;
}
.payrun-single-employee-approved-container h4.hndle {
  margin-bottom: 1px;
}
.payrun-single-employee-approved-container ul.list-table-like li {
  display: table;
  width: 100%;
}
.payrun-single-employee-approved-container ul.erp-list li {
  border-bottom: 1px solid #b7c0c7;
  border-left: 1px solid #b7c0c7;
  border-right: 1px solid #b7c0c7;
  margin-bottom: 0;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-top: 1px;
}
.payrun-single-employee-approved-container ul.erp-list li label a {
  text-decoration: none;
}
.payrun-single-employee-approved-container ul.erp-list li:first-child {
  background-color: #f5f5f5;
  border-top: 1px solid #b7c0c7;
}
.payrun-single-employee-approved-container ul.erp-list li:hover {
  background-color: #f5f5f5;
}
.payrun-single-employee-approved-container ul.list-table-like li > label {
  display: inline-table !important;
  padding: 6px 0 6px 10px;
  width: 20%;
}
.payrun-single-employee-approved-container ul.erp-deduct-list li > label {
  width: 48% !important;
}
.payrun-single-employee-approved-container .total-payable {
  border-bottom: 1px solid;
  border-top: 1px solid;
  font-size: 17px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 24%;
}
.payrun-single-employee-approved-container .make-payment .hndle {
  margin-top: 0;
}
.payrun-single-employee-approved-container .make-payment .col-1 {
  width: 18.66%;
}
.payrun-single-employee-approved-container .make-payment .col-1 .account_head {
  width: 185px;
}
.payrun-single-employee-approved-container .make-payment .button-col .payment-button {
  margin-left: 5px;
  margin-top: 15px;
}
.payroll-report-container .information-container {
  float: left;
  margin-left: 1%;
  margin-top: 10px;
  padding-bottom: 15px;
  position: relative;
  width: 99%;
}
.payroll-report-container .information-container .wp-list-table th,
.payroll-report-container .information-container .wp-list-table td {
  font-size: 11px;
}
.payroll-report-container .postbox .inside {
  margin-bottom: 0;
  margin-top: 0;
  overflow-y: hidden;
  padding-bottom: 0;
  padding-left: 0;
  min-height: 500px;
}
.payroll-report-container .postbox .inside .report-header {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.payroll-report-container .wp-list-table {
  margin-top: 10px;
}
.erp-modal-form .payitem-template-container label,
.erp-modal-form .payitem-category-template-container label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
.erp-modal-form .payitem-template-container .select-all-dde {
  display: inline !important;
  float: none !important;
}
.erp-payroll-steps {
  /*payroll step progress*/
  /***************************/
}
.erp-payroll-steps ul.payroll-step-progress {
  overflow: hidden;
  counter-reset: step;
  margin: 0 auto;
  max-width: 1075px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.erp-payroll-steps ul.payroll-step-progress li.active {
  background-color: #0073AA;
  color: #fff;
}
.erp-payroll-steps ul.payroll-step-progress li {
  list-style-type: none;
  width: 269px;
  float: left;
  position: relative;
  text-align: center;
  color: #444;
  background-color: #fafafa;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.erp-payroll-steps ul.payroll-step-progress li.active .step-number {
  background-color: white;
  border-radius: 11px;
  color: #0073AA;
  padding: 3px 8px;
}
.erp-payroll-steps ul.payroll-step-progress li.active .step-content {
  background-color: #0073AA;
  color: #fff;
  padding-left: 5px;
}
.erp-payroll-steps ul.payroll-step-progress li .step-number {
  background-color: #E5E5E5;
  border-radius: 11px;
  color: #adadad;
  padding: 3px 8px;
}
.erp-payroll-steps ul.payroll-step-progress li .step-content {
  background-color: #fafafa;
  color: #a6a6a6;
  padding-left: 5px;
}
.erp-payroll-steps ul.payroll-step-progress li::before {
  color: #333;
  background: #E5E5E5;
}
.erp-payroll-steps ul.payroll-step-progress li.active::after {
  background-color: #0073aa;
  content: "";
  height: 34px;
  position: absolute;
  right: -17px;
  top: 7px;
  transform: rotate(135deg);
  width: 34px;
  z-index: 1;
  /*put it behind the numbers*/
}
.erp-payroll-steps ul.payroll-step-progress li.not-active::after {
  background-color: #fafafa;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  content: "";
  height: 34px;
  position: absolute;
  right: -17px;
  top: 7px;
  transform: rotate(135deg);
  width: 34px;
  z-index: 1;
  /*put it behind the numbers*/
}
.erp-payroll-steps ul.payroll-step-progress li.not-active:last-child::after {
  background-color: transparent;
  border: 0;
}
.erp-payroll-steps ul.payroll-step-progress li.not-active:last-child {
  width: 267px;
}
.erp-payroll-steps ul.payroll-step-progress li.active:last-child {
  width: 235px;
}
.erp-payroll-steps .nv-holder {
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.erp-payroll-steps .nv-holder .row a.nbutton:first-child {
  margin-left: 5px;
}
.erp-payroll-steps .nv-holder a.nbutton:first-child {
  margin-left: 5px;
}
.erp-payroll-steps .nv-holder .rrow button:first-child {
  margin-left: 5px;
}
.erp-payroll-employees .nv-holder-top {
  float: left;
  width: 97%;
  margin-bottom: 20px;
}
.erp-payroll-employees .nv-holder-top .separator {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.erp-payroll-employees .nv-holder-top .separator span {
  float: left;
  width: 140px;
  background-color: #ffffffa4;
  padding: 5px 0 5px 15px;
  font-weight: 600;
  border-radius: 3px;
  color: rgba(121, 120, 120, 0.87);
}
.erp-payroll-employees .nv-holder-top .separator span.second-field {
  margin-left: 5px;
}
.erp-payroll-employees .nv-holder-top .separator input {
  float: left;
}
.erp-payroll-employees .nv-holder-top .separator button {
  border: 1px solid rgba(196, 196, 196, 0.87) !important;
  line-height: 2 !important;
  min-height: 20px !important;
  width: 286px;
  margin: 0 5px;
  font-weight: 600;
}
.erp-payroll-employees .nv-holder-top .separator .erp-payroll-date {
  min-height: 20px !important;
  font-size: small !important;
  width: 130px !important;
  font-weight: 300 !important;
  line-height: 2 !important;
  padding: 0 3px 0 10px !important;
  color: #757575;
}
@media screen and (min-width: 638px) and (max-width: 782px) {
  .erp-payroll-employees .nv-holder-top .separator button {
    line-height: 1.9 !important;
    min-height: 20px !important;
  }
}
@media screen and (max-width: 482px) {
  .erp-payroll-employees .nv-holder-top .separator button {
    line-height: 1.9 !important;
    min-height: 20px !important;
    margin: 5px 0 0 0;
  }
  .erp-payroll-employees .nv-holder-top .separator span.second-field,
  .erp-payroll-employees .nv-holder-top .separator .erp-payroll-date.second-date {
    margin: 5px 0 0 0;
  }
}
@media screen and (max-width: 315px) {
  .erp-payroll-employees .nv-holder-top .separator span {
    width: 255px;
  }
  .erp-payroll-employees .nv-holder-top .separator span.second-field {
    margin: 5px 0 0 0;
  }
  .erp-payroll-employees .nv-holder-top .separator button,
  .erp-payroll-employees .nv-holder-top .separator .erp-payroll-date {
    width: 270px !important;
  }
  .erp-payroll-employees .nv-holder-top .separator .erp-payroll-date.second-date {
    margin: 0;
  }
}
@media screen and (min-width: 1276px) {
  .erp-payroll-employees .nv-holder-top .separator {
    margin-left: 25%;
  }
}
.erp-payroll-employees .postbox {
  padding-top: 0 !important;
  margin: 0 auto;
  float: left;
  width: 100%;
}
.erp-payroll-employees .postbox .inside {
  overflow-y: hidden;
}
.erp-payroll-employees ul.list-table-like li {
  display: table;
  width: 100%;
}
.erp-payroll-employees ul.erp-list {
  float: left;
  margin-top: 10px;
}
.erp-payroll-employees ul.erp-list li {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  margin-bottom: 0;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-top: 1px;
}
.erp-payroll-employees ul.erp-list li label a {
  text-decoration: none;
}
.erp-payroll-employees ul.erp-list li:first-child {
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
}
.erp-payroll-employees ul.erp-list li:hover {
  background-color: #f5f5f5;
}
.erp-payroll-employees ul.list-table-like li > label {
  display: inline-table !important;
  padding: 6px 0 6px 10px;
  width: 13%;
  cursor: auto;
}
.erp-payroll-employees ul.erp-deduct-list li > label {
  width: 48% !important;
}
.erp-payroll-variable-input .single-emp-info-left-side {
  float: left;
  width: 35%;
}
.erp-payroll-variable-input .single-emp-info-left-side .postbox {
  padding-top: 0 !important;
  margin: 0 auto;
}
.erp-payroll-variable-input .single-emp-info-left-side .postbox .inside {
  overflow-y: hidden;
  min-height: 400px;
}
.erp-payroll-variable-input .single-emp-info-left-side .postbox .inside .lbl-note {
  float: left;
  width: 100%;
  font-size: 10px;
  color: #c4c4c4;
}
.erp-payroll-variable-input .single-emp-info-left-side .add_ded_info li {
  float: left;
  width: 100%;
}
.erp-payroll-variable-input .single-emp-info-left-side .add_ded_info li .lpart-normal {
  float: left;
}
.erp-payroll-variable-input .single-emp-info-left-side .add_ded_info li .rpart-normal {
  float: right;
}
.erp-payroll-variable-input .single-emp-info-left-side .add_ded_info li .lpart {
  float: left;
  font-weight: bold;
  border-top: 1px solid #c4c4c4;
  margin-bottom: 15px;
}
.erp-payroll-variable-input .single-emp-info-left-side .add_ded_info li .rpart {
  float: right;
  border-top: 1px solid #c4c4c4;
}
.erp-payroll-variable-input .single-emp-info-right-side {
  float: left;
  width: 64%;
  margin-left: 1%;
}
.erp-payroll-variable-input .single-emp-info-right-side .postbox {
  padding-top: 0 !important;
  margin: 0 auto;
}
.erp-payroll-variable-input .single-emp-info-right-side .postbox .inside {
  overflow-y: hidden;
}
.erp-payroll-variable-input .single-emp-info-right-side .postbox .inside .bbutton {
  margin-right: 5px;
}
.erp-payroll-variable-input .single-emp-info-right-side .postbox .inside .row {
  float: left;
  width: 100%;
}
.erp-payroll-variable-input .single-emp-info-right-side .postbox .inside .row select {
  width: 37%;
}
.erp-payroll-variable-input .single-emp-info-right-side .postbox .inside .row .dynamic-header {
  background-color: #E5E5E5;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.erp-payroll-variable-input .single-emp-info-right-side .postbox .inside .row .green-button {
  background-color: #68e525;
  border: none;
}
.erp-payroll-variable-input .single-emp-info-right-side .postbox .inside .row ul.paylist li:first-child label {
  background-color: #f5f5f5;
}
.erp-payroll-variable-input .single-emp-info-right-side .postbox .inside .row ul.paylist li:first-child label:nth-child(3) {
  width: 3%;
}
.erp-payroll-variable-input .single-emp-info-right-side .postbox .inside .row ul.paylist li {
  float: left;
  width: 75%;
}
.erp-payroll-variable-input .single-emp-info-right-side .postbox .inside .row ul.paylist li label {
  float: left;
  width: 31%;
  padding: 5px;
  border-bottom: 1px solid;
}
.erp-payroll-variable-input .single-emp-info-right-side .postbox .inside .row ul.paylist li label:nth-child(3) {
  width: 3%;
}
.erp-payroll-payslips .postbox {
  padding-top: 0 !important;
  overflow-y: hidden;
  margin-bottom: 0;
}
.erp-payroll-payslips .postbox .bbutton {
  margin-right: 5px;
}
.erp-payroll-payslips .postbox .inside .row {
  float: left;
  width: 100%;
}
.erp-payroll-payslips .postbox .inside .row .draft-text {
  float: left;
  font-size: 21px;
  color: #c4c4c4;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.erp-payroll-payslips .postbox .inside .row .payslip-list li:first-child {
  background-color: #f5f5f5;
}
.erp-payroll-payslips .postbox .inside .row .payslip-list li {
  float: left;
  width: 100%;
  padding: 5px;
}
.erp-payroll-payslips .postbox .inside .row .payslip-list li label {
  float: left;
  width: 25%;
}
.erp-payroll-payslips .postbox .inside .row .half-left-row {
  float: left;
  width: 48%;
}
.erp-payroll-payslips .postbox .inside .row .half-left-row .paylist li:first-child {
  background-color: #f5f5f5;
}
.erp-payroll-payslips .postbox .inside .row .half-left-row .paylist li:first-child label {
  float: left;
  width: 100%;
}
.erp-payroll-payslips .postbox .inside .row .half-left-row .paylist li {
  float: left;
  width: 100%;
  padding: 5px;
}
.erp-payroll-payslips .postbox .inside .row .half-left-row .paylist li label {
  float: left;
  width: 50%;
}
.erp-payroll-payslips .postbox .inside .row .half-left-row .paylist li .text-alignleft {
  text-align: left;
}
.erp-payroll-payslips .postbox .inside .row .half-left-row .paylist li .text-alignright {
  text-align: right;
}
.erp-payroll-payslips .postbox .inside .row .half-left-row .paylist li.final-total-row {
  font-weight: bold;
  border-top: 1px solid #c4c4c4;
}
.erp-payroll-payslips .postbox .inside .row .half-right-row {
  float: left;
  width: 48%;
  margin-left: 20px;
}
.erp-payroll-payslips .postbox .inside .row .half-right-row .paylist li:first-child {
  background-color: #f5f5f5;
}
.erp-payroll-payslips .postbox .inside .row .half-right-row .paylist li:first-child label {
  float: left;
  width: 100%;
}
.erp-payroll-payslips .postbox .inside .row .half-right-row .paylist li {
  float: left;
  width: 100%;
  padding: 5px;
}
.erp-payroll-payslips .postbox .inside .row .half-right-row .paylist li label {
  float: left;
  width: 50%;
}
.erp-payroll-payslips .postbox .inside .row .half-right-row .paylist li .text-alignleft {
  text-align: left;
}
.erp-payroll-payslips .postbox .inside .row .half-right-row .paylist li .text-alignright {
  text-align: right;
}
.erp-payroll-payslips .postbox .inside .row .half-right-row .paylist li.final-total-row {
  font-weight: bold;
  border-top: 1px solid #c4c4c4;
}
.erp-payroll-payslips .postbox .inside .row .half-right-row .payslip-net-pay {
  border: 2px solid #c4c4c4;
  background-color: #f5f5f5;
  float: left;
  width: 100%;
  padding: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.erp-payroll-payslips .postbox .inside .row .half-right-row .payslip-net-pay label {
  float: left;
  width: 50%;
  font-weight: bold;
}
.erp-payroll-payslips .postbox .inside .row .half-right-row .payslip-net-pay .text-alignleft {
  text-align: left;
}
.erp-payroll-payslips .postbox .inside .row .half-right-row .payslip-net-pay .text-alignright {
  text-align: right;
}
.erp-payroll-payslips .postbox .inside .seventy-left-row {
  float: left;
  width: 70%;
}
.erp-payroll-payslips .postbox .inside .seventy-left-row .multiselect {
  float: left;
  width: 50%;
}
.erp-payroll-payslips .postbox .inside .seventy-left-row .print-btn {
  float: left;
  width: 20%;
  margin-left: 5px;
  height: 38px;
}
.erp-payroll-payslips .postbox .inside .thirty-righ-row {
  float: right;
  width: 30%;
}
.erp-payroll-payslips .postbox .inside .half-left-row {
  float: left;
  width: 50%;
}
.erp-payroll-payslips .postbox .inside .half-right-row {
  float: right;
  width: 50%;
}
.erp-payroll-approve-tab .nv-holder-top {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.erp-payroll-approve-tab .postbox {
  padding-top: 0 !important;
  margin: 0 auto;
  float: left;
  width: 100%;
}
.erp-payroll-approve-tab .postbox .inside {
  overflow-y: hidden;
}
.erp-payroll-approve-tab .postbox .inside .rrow {
  float: right;
}
.erp-payroll-approve-tab .postbox .inside .rrow .bbutton {
  margin-right: 5px;
}
.erp-payroll-approve-tab ul.list-table-like li {
  display: table;
  width: 100%;
}
.erp-payroll-approve-tab ul.erp-list {
  float: left;
  margin-top: 10px;
}
.erp-payroll-approve-tab ul.erp-list li {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  margin-bottom: 0;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-top: 1px;
}
.erp-payroll-approve-tab ul.erp-list li label a {
  text-decoration: none;
}
.erp-payroll-approve-tab ul.erp-list li:first-child {
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
}
.erp-payroll-approve-tab ul.erp-list li:hover {
  background-color: #f5f5f5;
}
.erp-payroll-approve-tab ul.list-table-like li > label {
  display: inline-table !important;
  padding: 6px 0 6px 10px;
  width: 13%;
  cursor: auto;
}
.erp-payroll-approve-tab ul.erp-deduct-list li > label {
  width: 48% !important;
}
.erp-payrun .col-6 .bulkactions {
  display: none;
}
.erp-payrun .wp-list-table th.column-pay_period {
  width: 155px;
}
.cal_status {
  padding-left: 10px;
  font-size: 12px;
  padding-right: 10px;
}
.cal_status_not_approve {
  background-color: #c4c4c4;
  color: #32373c;
  font-weight: bold;
}
.cal_status_approved {
  background-color: #4ab866;
  color: #fff;
  font-weight: bold;
}
.payitem-section {
  float: left;
  width: 100%;
}
.payitem-section .input-wrapper {
  float: left;
  width: 35%;
}
.payitem-section .input-wrapper .row {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.payitem-section .input-wrapper .row input {
  display: inline-block;
  width: 400px;
}
.payitem-section .erp-settings-table td span.action {
  float: left;
  margin-left: 5px;
  padding: 3px 9px;
  border: 1px solid #eee;
  cursor: pointer;
  border-radius: 3px;
}
.payitem-section div.modal-section .half-col label {
  width: 100%;
}
.payitem-section div.modal-section .modal-content {
  overflow-y: hidden;
}
.payitem-section div.modal-section .half-col {
  float: left;
  width: 50%;
}
.payitem-section div.modal-section .half-col .checkbox-list {
  float: left;
  width: 100%;
}
.payitem-section div.modal-section .half-col .checkbox-list li {
  float: left;
  width: 100%;
}
.payitem-section div.modal-section .half-col:nth-child(2) {
  width: 49%;
  margin-left: 5px;
}
.payitem-section div.modal-section .modal-footer {
  float: left;
  width: 100%;
}
.payitem-section div.modal-section .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.payitem-section div.modal-section .close:hover,
.payitem-section div.modal-section .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.payitem-section div.modal-section button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.payitem-section div.modal-section .modal-open {
  overflow: hidden;
}
.payitem-section div.modal-section .modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.payitem-section div.modal-section .modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.payitem-section div.modal-section .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.payitem-section div.modal-section .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.payitem-section div.modal-section .modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.payitem-section div.modal-section .modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
.payitem-section div.modal-section .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.payitem-section div.modal-section .modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.payitem-section div.modal-section .modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.payitem-section div.modal-section .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.payitem-section div.modal-section .modal-header .close {
  margin-top: -2px;
}
.payitem-section div.modal-section .modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.payitem-section div.modal-section .modal-body {
  position: relative;
  padding: 15px;
}
.payitem-section div.modal-section .modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.payitem-section div.modal-section .modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.payitem-section div.modal-section .modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.payitem-section div.modal-section .modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.payitem-section div.modal-section .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .payitem-section div.modal-section .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .payitem-section div.modal-section .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .payitem-section div.modal-section .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .payitem-section div.modal-section .modal-lg {
    width: 900px;
  }
}
.payitem-section div.modal-section .clearfix:before,
.payitem-section div.modal-section .clearfix:after,
.payitem-section div.modal-section .modal-header:before,
.payitem-section div.modal-section .modal-header:after,
.payitem-section div.modal-section .modal-footer:before,
.payitem-section div.modal-section .modal-footer:after {
  content: " ";
  display: table;
}
.payitem-section div.modal-section .clearfix:after,
.payitem-section div.modal-section .modal-header:after,
.payitem-section div.modal-section .modal-footer:after {
  clear: both;
}
.payitem-section div.modal-section .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.payitem-section div.modal-section .pull-right {
  float: right !important;
}
.payitem-section div.modal-section .pull-left {
  float: left !important;
}
.payitem-section div.modal-section .hide {
  display: none !important;
}
.payitem-section div.modal-section .show {
  display: block !important;
}
.payitem-section div.modal-section .invisible {
  visibility: hidden;
}
.payitem-section div.modal-section .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.payitem-section div.modal-section .hidden {
  display: none !important;
}
.payitem-section div.modal-section .affix {
  position: fixed;
}
@media print {
  body #pay-run-wrapper-payslips-tab {
    visibility: hidden;
  }
  #printPayslipArea,
  #printPayslipArea * {
    visibility: visible;
  }
  ul.payroll-step-progress {
    display: none !important;
  }
  .erp-pay-slip-label {
    display: block !important;
  }
}
fieldset[disabled] .multiselect {
  pointer-events: none;
}
.multiselect__spinner {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 40px;
  height: 22px;
  background: #fff;
  display: block;
}
.multiselect__spinner:before,
.multiselect__spinner:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -4px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-color: #0073aa transparent transparent;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 0 1px transparent;
}
.multiselect__spinner:before {
  animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
  animation-iteration-count: infinite;
}
.multiselect__spinner:after {
  animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
  animation-iteration-count: infinite;
}
.multiselect__loading-transition {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}
.multiselect__loading-enter,
.multiselect__loading-leave {
  opacity: 0;
}
.multiselect,
.multiselect__input,
.multiselect__single {
  font-family: inherit;
  font-size: inherit;
}
.multiselect {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: 28px;
  text-align: left;
  color: #35495E;
}
.multiselect * {
  box-sizing: border-box;
}
.multiselect:focus {
  outline: none;
}
.multiselect--disabled {
  pointer-events: none;
  opacity: 0.6;
}
.multiselect--active {
  z-index: 50;
}
.multiselect--active .multiselect__current,
.multiselect--active .multiselect__input,
.multiselect--active .multiselect__tags {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.multiselect--active .multiselect__select {
  transform: rotateZ(180deg);
}
.multiselect__input,
.multiselect__single {
  position: relative;
  display: inline-block;
  min-height: 18px;
  font-size: 14px;
  line-height: 15px;
  border: none;
  border-radius: 3px;
  background: #fff;
  padding: 1px 0 0 5px;
  width: calc(100%);
  transition: border 0.1s ease;
  box-sizing: border-box;
  margin-bottom: 3px;
}
.multiselect__input[type="text"],
.multiselect__single[type="text"],
.multiselect__input[type="text"]:focus,
.multiselect__single[type="text"]:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: inherit;
  color: inherit;
  outline: none;
  -webkit-transition: inherit;
  transition: inherit;
}
.multiselect__tag ~ .multiselect__input {
  width: auto;
}
.multiselect__input:hover,
.multiselect__single:hover {
  border-color: #cfcfcf;
}
.multiselect__input:focus,
.multiselect__single:focus {
  border-color: #a8a8a8;
  outline: none;
}
.multiselect__single {
  padding-left: 6px;
  margin-bottom: 0;
  line-height: 20px;
}
.multiselect__tags {
  min-height: 28px;
  display: block;
  padding: 2px 30px 0 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  background: #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
}
.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 3px 20px 3px 8px;
  border-radius: 3px;
  margin-right: 5px;
  color: #444;
  line-height: 1;
  background: #ccc;
  margin-bottom: 3px;
  white-space: nowrap;
}
.multiselect__tag-icon {
  cursor: pointer;
  margin-left: 7px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 700;
  font-style: initial;
  width: 18px;
  text-align: center;
  line-height: 18px;
  transition: all 0.2s ease;
  border-radius: 3px;
}
.multiselect__tag-icon:after {
  content: "×";
  color: #a2a2a2;
  font-size: 14px;
}
.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: #999;
}
.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
  color: white;
}
.multiselect__current {
  line-height: 16px;
  min-height: 28px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 8px 12px 0;
  padding-right: 30px;
  white-space: nowrap;
  margin: 0;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid #cccccc;
  cursor: pointer;
}
.multiselect__select {
  line-height: 16px;
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  right: 1px;
  top: 1px;
  padding: 4px 8px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.multiselect__select:before {
  position: relative;
  right: 0;
  top: 65%;
  color: #999;
  margin-top: 4px;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #999999 transparent transparent transparent;
  content: "";
}
.multiselect__placeholder {
  color: #ADADAD;
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 2px;
}
.multiselect--active .multiselect__placeholder {
  display: none;
}
.multiselect__content {
  position: absolute;
  list-style: none;
  display: block;
  background: #fff;
  width: 100%;
  max-height: 240px;
  overflow: auto;
  padding: 0;
  margin: 0;
  border: 1px solid #cccccc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 50;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.multiselect__content::webkit-scrollbar {
  display: none;
}
.multiselect__option {
  display: block;
  padding: 8px;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 0;
}
.multiselect__option:after {
  top: 0;
  right: 0;
  position: absolute;
  line-height: 28px;
  padding-right: 12px;
  padding-left: 20px;
}
.multiselect__option--highlight {
  background: #0073aa;
  outline: none;
  color: white;
}
.multiselect__option--highlight:after {
  content: attr(data-select);
  background: #0073aa;
  color: white;
}
.multiselect__option--selected {
  background: #cccccc;
  color: #35495E;
  font-weight: bold;
}
.multiselect__option--selected:after {
  content: attr(data-selected);
  color: silver;
}
.multiselect__option--selected.multiselect__option--highlight {
  background: #d54e21;
  color: #fff;
}
.multiselect__option--selected.multiselect__option--highlight:after {
  background: #d54e21;
  content: attr(data-deselect);
  color: #fff;
}
.multiselect--disabled {
  background: #ededed;
  pointer-events: none;
}
.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
  background: #ededed;
  color: #a6a6a6;
}
.multiselect__option--disabled {
  background: #ededed;
  color: #a6a6a6;
  cursor: text;
  pointer-events: none;
}
.multiselect__option--disabled:visited {
  color: #a6a6a6;
}
.multiselect__option--disabled:hover,
.multiselect__option--disabled:focus {
  background: #3dad7b;
}
.multiselect-transition {
  transition: all 0.3s ease;
}
.multiselect-enter,
.multiselect-leave {
  opacity: 0;
  max-height: 0 !important;
}
@keyframes spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(2turn);
  }
}
.list-inline {
  display: inline-block;
}
.list-inline li {
  display: inline-block;
  margin-right: 15px;
}
.erp-setup-content .form-table input[type="radio"] {
  display: inline-block;
  width: auto;
  margin: 0 5px 0 0;
}
.erp-setup-content .bank-selector.hide {
  display: none;
}
.erp-pay-slip-label {
  display: none;
}
ul.paylist li {
  display: flex;
  margin-top: 10px;
}
.paylist-final-amount {
  border-bottom: 1px solid #c4c4c4;
  margin-top: 0;
}
.payslip .payslip_search {
  padding-top: 5px;
}
.payslip .payslip_search .list-inline {
  margin-right: 20px;
}
.payslip .payslip_search .list-inline .button.button-primary {
  position: relative;
  top: -4px;
}
.payslip .paslip_list #paslip_list_body .payslip_print {
  font-size: 20px;
}
.payslip .paslip_list #paslip_list_body .payslip_preview {
  font-size: 20px;
}
#view_employee_payslip_modal {
  top: 5%;
  height: 590px;
}
#view_employee_payslip_modal .content-container {
  padding-top: 0;
}
#view_employee_payslip_modal .content-container .postbox {
  border: none;
}
#view_employee_payslip_modal .content-container ul.payslip-list li {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
#view_employee_payslip_modal .content-container ul.paylist li {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
#bulk_edit_items #bulk_edit_items_container #update_button {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}
#bulk_edit_items #bulk_edit_items_container .update_spinner {
  position: absolute;
  right: 60px;
  margin-top: 25px;
}
#pay-calendar-add-edit-wrapper #dashboard-widgets-wrap .open_modal {
  position: relative;
  top: 70px;
}
#pay-calendar-add-edit-wrapper #dashboard-widgets-wrap .pay_cal_spinner {
  position: relative;
  top: 70px;
}
.wrapper_pay_item {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 15px;
}
.wrapper_pay_item .wrapper_pay_item_row .wrapper_pay_item_col {
  float: left;
  margin-right: 25px;
}
.wrapper_pay_item .wrapper_pay_item_row .wrapper_pay_item_col span.select2 {
  width: 250px !important;
}
.wrapper_pay_item .wrapper_pay_item_row .select_pay_item_class {
  display: none;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  text-align: left;
}
.table tbody td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
#set_fixed_value_to_all_field {
  width: 220px !important;
}
#atts-date-range {
  width: 210px !important;
}

