/** List box headers */
.list-header {
  display: table;
  width: 100%;
}
.list-header li {
  display: table-cell;
  color: #9E9FA3;
}

/** List and Grid section */
.dash-list .list-body,
.dash-list .grid-body {
  background: #fff;
  box-shadow: 3px 2px 12px 7px #f4f5fc;
  position: relative;
}
.dash-list .columns {
  flex-wrap: wrap;
}
.dash-list .has-checkbox {
  padding-left: 20px;
}
.dash-list .is-checkbox + label {
  padding: 0;
}
.dash-list .thumbnail {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 100%;
}
.dash-list .box-btn span {
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  text-transform: capitalize;
  width: 90px;
  display: block;
  text-align: center;
}
.grid-body .box-btn span {
  margin: 0 auto;
  width: 74px;
  padding: 4px 0;
}
.list-table {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
}
.list-table .list-table-body {
  display: table-row-group;
}
.list-table .list-table-row {
  display: table-row;
  height: 80px;
  box-shadow: 0 2px 10px 0 rgba(202, 210, 240, 0.2);
}
.list-table .row-selected {
  background: #D6E8FA;
}
.list-table .list-table-cell {
  display: table-cell;
  vertical-align: middle;
  color: #98A0B4;
}
.list-body .align-part {
  display: flex;
  align-items: center;
}

/*start width*/
.list-header li:first-child,
.list-body .has-checkbox {
  width: 70px;
}
.list-header li:nth-child(2),
.list-body .img-and-name {
  width: 270px;
}
.list-header li:nth-child(3),
.list-body .box-designtion {
  width: 170px;
}
.list-header li:nth-child(4),
.list-body .box-department {
  width: 170px;
}
.list-header li:nth-child(5),
.list-body .box-type {
  width: 140px;
}
.list-header li:nth-child(6),
.list-body .box-date {
  width: 120px;
}
.list-header li:nth-child(7),
.list-body .box-btn {
  width: 120px;
}

/*end width*/
.list-body .box-actions {
  width: 30px;
  font-size: 20px;
}
.list-body .img-and-name span {
  padding-right: 10px;
}
.list-body .img-and-name span a {
  color: #27313a;
  font-weight: 600;
}
.dash-list .grid-body {
  text-align: center;
  padding: 20px 0 28px;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(202, 210, 240, 0.2);
}
.dash-list .grid-body .img-and-name a {
  font-size: 15px;
  font-weight: 600;
  color: #18222C;
}
.dash-list .grid-body .thumbnail {
  margin: 10px auto 20px;
  display: block;
}
.dash-list .grid-body .box-department,
.dash-list .grid-body .has-checkbox,
.dash-list .grid-body .box-date,
.dash-list .grid-body .box-type {
  display: none;
}
.dash-list .grid-body .box-designtion {
  font-size: 13px;
  padding: 5px 0 15px 0;
  color: #9AA1B4;
}
.grid-body .action-dropdown i {
  color: #DEE2EA;
  font-size: 20px;
}
.dash-list .grid-body .box-actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

/** List item edit/trash options */
.action-dropdown .dropdown-trigger {
  width: 10px;
  padding-left: 3px;
  cursor: pointer;
}
.action-dropdown .dropdown-content {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  color: #BACED8;
  box-shadow: 3px 2px 12px 7px #f4f5fc;
  font-size: 16px;
  left: -100px;
}
.action-dropdown .dropdown-content i {
  cursor: pointer;
}
.status-active {
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
}
.status-terminated {
  background-color: #ff3860;
  border-color: transparent;
  color: #fff;
}
.status-resigned {
  background-color: #ffdd57;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.status-deceased {
  background-color: #363636;
  border-color: transparent;
  color: whitesmoke;
}

/* Role based design */
.role-normal-user .list-table .img-and-name {
  padding-left: 25px;
}
.role-normal-user .list-header li:nth-child(2) {
  width: 220px;
}
.role-normal-user .list-header li:nth-child(3),
.role-normal-user .list-header li:nth-child(4) {
  width: 170px;
}
.role-normal-user .list-header li:nth-child(5) {
  width: 170px;
}
.is-radio[type="radio"] + label::before,
.is-checkbox[type="checkbox"] + label::before {
  border-color: #DEE2EA;
}
.align-part .fa.fa-folder-open {
  color: #ffbc00;
  font-size: 20px;
}
.align-part .fa.fa-file-picture-o {
  color: #ff00b1;
  font-size: 20px;
}
.align-part .fa.fa-file-text-o {
  color: #7a00ff;
  font-size: 20px;
}
.align-part .fa.fa-file-zip-o {
  color: #ff00eb;
  font-size: 20px;
}
.align-part .fa.fa-file-pdf-o {
  color: #ff0000;
  font-size: 20px;
}
.align-part .fa.fa-file-excel-o {
  color: #00ff5a;
  font-size: 20px;
}
.align-part .fa.fa-file-word-o {
  color: #0400ff;
  font-size: 20px;
}
.align-part .fa.fa-file {
  color: #0072ff;
  font-size: 20px;
}
.box-view {
  text-align: center;
  width: 200px;
}
.box-view.action {
  font-size: 30px;
  padding-bottom: 15px;
}
.ash-white {
  color: #9e9fa3 !important;
}
.light-black {
  border-color: rgba(229, 233, 242, 0.6);
  color: #363636;
}
.light-black:hover {
  border-color: #B5B5B5;
}
.md-cont {
  background-color: #fff;
  padding: 45px;
  border-radius: 10px;
}
.folder_tree ul {
  padding-left: 15px;
}
.single_employee_class_wrap {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  min-height: 370px;
}
.operator span {
  display: inline-block;
}
.columns .column .grid-body .align-part span {
  display: block;
}
.hide_header {
  display: none;
}
.columns .column .grid-body .box-view {
  width: 100%;
}
.bc_single {
  color: white;
  background-color: #276cda;
  padding: 2px 5px;
  margin: 2px;
  border-radius: 2px;
}
.bc_single:hover {
  color: #276cda;
  background-color: white;
}
.folder_tree ul li {
  padding: 2px;
  margin-bottom: 3px;
}
.modal_title {
  font-size: 20px;
  padding-bottom: 25px;
}
.current, .folder_tree a:hover {
  background-color: #3273dc;
  color: white;
  padding: 2px;
  border-radius: 3px;
}

/****************/
a.doc_action {
  position: relative;
}
ul.doc_action_dropdown {
  margin-top: -2px;
  display: none;
  width: 135px;
  padding: 10px;
  text-align: left;
  position: absolute;
  left: -50px;
  background-color: #fff;
  z-index: 1;
  -webkit-box-shadow: 0 0 35px -13px #302c30;
  -moz-box-shadow: 0 0 35px -13px #302c30;
  box-shadow: 0 0 35px -13px #302c30;
}
ul.doc_action_dropdown li {
  font-size: 15px;
  padding-left: 10px;
  padding-bottom: 7px;
}
ul.doc_action_dropdown li a {
  color: #98a0b4;
}
a.doc_action {
  color: #98a0b4;
}
a.doc_action:hover, ul.doc_action_dropdown li a:hover {
  color: #3273dc;
}
a.doc_action:hover ul.doc_action_dropdown {
  display: block;
}
ul.doc_action_dropdown li a span.fa {
  padding-right: 10px;
}
.share_files_control {
  margin-bottom: 15px;
}
.no-show {
  display: none;
}
#erp-doc-share-template {
  width: 100%;
}

.icon-document {
  width: 33px;
  height: 33px;
  background: url(../images/icons-for-overview-update-2x.png) no-repeat 0 0;
  background-size: 193px 225px;
  background-position-y: -192px;
  /*background-position-x: -94px;*/
  background-position-x: -159px;
}
.erp-side-menu ul li a:hover .icon-document {
  background-position-x: -94px;
}
.erp-side-menu ul li.router-link-active a .icon-document {
  background-position-x: -94px;
}

